.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.svelte-kit/
dist/
node_modules/

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

blob-report/
playwright-report/
playwright/.cache/
test-results/
